   /* Modo Claro (Padrão) */
   body {
    background-color: #fff;
    color: #333;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    color: #111;
}

button {
    background-color: #f0f0f0;
    color: #333;
    border: 2px solid #ccc;
    cursor: pointer;
    border-radius: 100px;
    font-size: xx-large;
    
}
button:hover {
    background-color: #ddd;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode h1 {
    color: #ddd;
}
body.dark-mode p {
    color: #ddd;
}

body.dark-mode button {
    background-color: #555;
    color: #fff;
    border: 1px solid #444;
}

body.dark-mode button:hover {
    background-color: #666;
}